<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>To-Do-Liste</title>
</head>

<body>
  <div class= "container-fluid">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Aufgaben</th>
          <th>Status</th>
          <th colspan="2"></th>
        </tr>
      </thead>
        {% for task in tasks %}
        <tr>
          <td>{{task.id}}</td>
          <td>{{task.text}}</td>
          <td>{{task.status_translation}}</td>
          <td>
              <form action="{% url "change_status" task.id %}"method="POST">
                {% csrf_token %}
                <div class="input-group">
                <select name="status" class="custom-select">
                    <option value="T">Todo</option>
                    <option value="D">Done</option>
                    <option value="C">Canceled</option>
                </select>
                <input class="btn btn-primary" type="submit" value="Ändern">
              </form>
            </div>
          </td>
          <td>
            <form action = "{% url "delete_task" task.id %}" method="POST">
              {% csrf_token %}
              <input class="btn btn-danger" type="submit" value="Löschen">
            </form>
          </td>
         <!-- <td><a href="delete_task/{{ task.id }}">Delete</a></td> --> 
        </tr>      
        {% endfor %}
      </table>
      
      <form action="{% url "add_task" %}" method="POST">
      <div class="form-row">
        {% csrf_token %}
        <div class="col-auto">
        <label for="Aufgaben" class="form-label">Neue Task: </label>
        </div>
        <div class="col">
        <div class="input-group">
        <input class="form-control" type="text" value="" id="text" name="text" placeholder ="neue Task"><br/>
        <input class="btn btn-primary" type="submit" value="Neu anlegen">
        </div>
        </div>
      </form>
      </div>
   </div>
      
</body>

</html>